---

---

<!-- https://www.behance.net/gallery/46279913/Embeasy-App-Design/modules/783139589 -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Embassy in Tailwind</title>
  </head>
  <body class="bg-slate-50">
    <div
      class="relative shadow--black text-indigo-700 shadow-[0px_5px_50px_10px_#00000024]
	  m-10 w-96 h-[47.75rem] border-4 border-white bg-slate-50 rounded-3xl p-2"
    >
      <header
        class="rounded-tr-2xl rounded-2xl p-2 bg-white shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] h-1/2"
      >
        <nav class="flex justify-between h-1/5">
          <span
            class="current-day rounded-lg p-1/5 h-6 w-6 box-content text-center text-white bg-blue-700"
            >6
          </span>

          <div class="hamburger w-5">
            <div class="bar1 bg-blue-700 mb-1 w-4 h-0.5"></div>
            <div class="bar2 bg-blue-700 mb-1 h-0.5"></div>
            <div class="bar3 bg-blue-700 h-0.5"></div>
          </div>
        </nav>
        <section class="bg-white ml-2 flex-col flex justify-between h-4/5">
          <!-- Decorate circles - Should be a SVG -->
          <div class="relative mx-auto w-36 h-36 border-1 border-red bg-yellow">
            <div class="absolute bg-blue-700 w-36 h-36 rounded-full"></div>
            <div
              class="absolute flex justify-center items-center bg-white w-[6.5rem] h-[6.5rem] rounded-full top-5 left-5 align-center"
            >
              <p class="text-xs font-light">in 10 days</p>
            </div>
          </div>
          <h1
            class="w-3/4 self-center text-center text-2xl font-bold text-blue-700 leading-none"
          >
            American Embassy Interview
          </h1>

          <div
            class="text-xs uppercase flex justify-between justify-self-end mb-3"
          >
            <p>10 sep</p>
            <p>89 notes</p>
            <p>day 13/39</p>
          </div>
        </section>
      </header>
      <main class="mt-4 px-1 h-1/2">
        <ul class="grid gap-3">
          <li
            class="bg-white shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 box-border rounded-2xl"
          >
            <p class="mb-2">Pay the interview Fee</p>
            <p class="text-xs">
              <span class="outline-dotted rounded-xl py1 px-2 mr-2">TASK</span>
               08 Notes
            </p>
          </li>
          <li
            class="bg-white shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 box-border rounded-2xl"
          >
            <p class="mb-2">Pay the interview Fee</p>
            <p class="text-xs">
              <span class="outline-dotted rounded-xl py1 px-2 mr-2">TASK</span>
               08 Notes
            </p>
          </li>
          <li
            class="bg-white shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 box-border rounded-2xl"
          >
            <p class="mb-2">Pay the interview Fee</p>
            <p class="text-xs">
              <span class="outline-dotted rounded-xl py1 px-2 mr-2">TASK</span>
               08 Notes
            </p>
          </li>
          <li
            class="bg-white shadow-[rgba(50,_50,_105,_0.15)_0px_2px_5px_0px,_rgba(0,_0,_0,_0.05)_0px_1px_1px_0px] p-4 box-border rounded-2xl"
          >
            <p class="mb-2">Pay the interview Fee</p>
            <p class="text-xs">
              <span class="outline-dotted rounded-xl py1 px-2 mr-2">TASK</span>
               08 Notes
            </p>
          </li>
        </ul>
      </main>
      <section
        class="button-modal absolute bottom-0 left-0 h-28 w-full flex justify-center rounded-2xl
		bg-gradient-to-b from-white/10 via-white/70 to-white/90"
      >
        <button
          class="h-12 bg-blue-700 text-white w-1/2 rounded-xl text-center flex items-center"
          ><span
            class="flex items-center justify-center w-1/4 bg-blue-800 rounded-xl h-12"
            >&check;</span
          ><span class="w-4/5">Complete</span></button
        >
      </section>
    </div>
  </body>
</html>
